* {
  padding: 0;
  margin: 0;
}
body {
    /* Primary background color*/
  background: #1b344b url("images/mainbackground.jpg") fixed;
  
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vw;
    background-color: #1b344b;
    opacity: 40%;
    transition: 300ms ease;
}
nav:hover {
    opacity: 90%;
    transition: 300ms ease;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a {
    text-decoration: none;
    color: deepskyblue;
    font-size: 2em;
    text-transform: capitalize;
    padding: 12px;
}
.nav-links a:hover {
    color: white;
}
.nav-links li {
    list-style-type: none;
}
section {
    height: 100vh;
    position: relative;
}
.section-container {
    background-color:  #1b344b;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.section-item {
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    padding: 25px;
}
section#home img {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
h2, h3, p, a{
    text-transform: capitalize;
    color:  rgb(230, 255, 255);
}
h1 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    color: white;
}
p {
    padding-top: 1vh;
}
a {
    text-transform: none;
}
.one-third {
    flex: 33;
}
.two-third {
    flex: 66;
}
/* Secondary background color*/
.secondary-color {
    background-color: rgb(101, 184, 184);
}

.secondary-color > *{
    /* Secondary font color*/
    color: black;
}
footer {
    height: 30vh;
}
footer .section-item {
    min-width: 33%;
    height: 50%;
}
footer address {
    text-align: center;
}